{% extends 'base.html.twig' %}

{% block title %}
    Liste des voitures
{% endblock %}

{% block content %}
    <ul>
        {% for car in cars %}
            <li>
                <a href="{{env.base_path ~ '/cars/' ~ car.id }}">
                <a href="{{env.base_path}}/cars/{{car.id}}">
                    {{ car.brand }} {{car.model }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}